@using MainApp.Models
<div class="just-print">
    <div style="width:100%; padding:10px; display:flex; border-bottom: 1px solid gray">
        <img style="margin-right:10px;width:50px; height:50px" src="logogki.png" />
        <div style=" width:100%; display:flex; justify-content:start;align-items:start;flex-direction:column">
            <h4>GEREJA INJILI DI TANAH PAPUA</h4>
            <h4>KLASIS PORT NUMBAY</h4>
            <h4>JEMAAT MARAMPA YOTEFA</h4>
        </div>
    </div>
    <div style="display:flex;justify-content:center; align-items:center;flex-direction:column; margin:20px">
        <h3>RENCANA ANGGARAN PENDAPATAN </h3>
        <h6 style="font-size:10px">@(Periode == null ? "" : $"1 Januari {Periode.Tahun} s/d 31 Desember {Periode.Tahun}")</h6>
    </div>

    @if (Datas.Count() > 0)
    {



        <table>
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">Kode</th>
                <th rowspan="2" style="width:30%">Uraian</th>
                <th rowspan="2">Kegiatan</th>
                <th rowspan="2">Nilai</th>
                <th rowspan="2">Jumlah</th>
                <th colspan="4">Alokasi</th>
            </tr>
            <tr>
                <th>Jemaat</th>
                <th>YPK</th>
                <th>Klasis</th>
                <th>Sinode</th>
            </tr>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
            </tr>

            @foreach (var itemx in Datas.GroupBy(x => new { x.KodeKategori, x.Kategori }))
            {
                <tr>
                    <td style="text-align:center"></td>
                    <td style="text-align:center">@itemx.Key.KodeKategori</td>
                    <td colspan="5">@itemx.Key.Kategori</td>
                </tr>

                @foreach (var item in itemx.Cast<RencanaAnggaranModel>().Select((r, i) => new { data = r, index = i }))
                {
                    <tr>
                        <td style="text-align:center">@(item.index + 1)</td>
                        <td style="text-align:center">@item.data.Kode</td>
                        <td>@item.data.Uraian</td>
                        <td style="text-align:center">@item.data.Kegiatan</td>
                        <td style="text-align:end">@item.data.Nilai.ToString("N2")</td>
                        <td style="text-align:end">@item.data.Jumlah.ToString("N2")</td>
                        <td style="text-align:end">@item.data.Jemaat.ToString("N2")</td>
                        <td style="text-align:end">@item.data.YPK.ToString("N2")</td>
                        <td style="text-align:end">@item.data.Klasis.ToString("N2")</td>
                        <td style="text-align:end">@item.data.Sinode.ToString("N2")</td>
                    </tr>
                }


            }
            <tr>
                <th colspan="5">Total </th>
                <th style="text-align:end">@Datas.Sum(x => x.Jumlah).ToString("N2")</th>
                <th style="text-align:end">@Datas.Sum(x => x.Jemaat).ToString("N2")</th>
                <th style="text-align:end">@Datas.Sum(x => x.YPK).ToString("N2")</th>
                <th style="text-align:end">@Datas.Sum(x => x.Klasis).ToString("N2")</th>
                <th style="text-align:end">@Datas.Sum(x => x.Sinode).ToString("N2")</th>
            </tr>
        </table>
    }
</div>

@code {

    [Parameter]
    public Periode Periode { get; set; }

    [Parameter]
    public IEnumerable<RencanaAnggaranModel> Datas { get; set; } = Enumerable.Empty<RencanaAnggaranModel>();

    string periodeString = string.Empty;
    protected override Task OnInitializedAsync()
    {
        if (Periode != null)
        {
            periodeString = $"1 Januari {Periode.Tahun} s/d 31 Desember {Periode.Tahun}";
        }
        return base.OnInitializedAsync();
    }

}
